<ul style="padding-left:30px;">
    <li>
        @if (ViewBag.parent_id != null)
        {
            <a href="#" id="View_@ViewBag.parent_id" class="add_node">Add Node</a>
        }

    </li>
</ul>