
@{
    ViewBag.Title = "MyInventory";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
  
}
<style type="text/css">
    .zoomin img {
        height: 70px;
        width: 80px;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
    }

        .zoomin img:hover {
            width: 600px !important;
            height: 600px !important;
        }
</style>
<div class="row" ng-app="MyAppseller2" ng-controller="MyInventoryListController">
    <div class="">
          
            <div class="">
                <div class="clearfix"></div>
                <div class="row">                          
                    <div class="col-md-12 col-sm-12 col-xs-12">                          
      

        <div class="x_panel">
            <div class="row">         
              <h4>My Inventory List</h4>                            
           </div>
            <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-sm-3" >
                                   <label for="first-name">Category<span class="required star">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                  <select ng-model="tbl_item_category_id"  class="form-control" ng-options="c.id as c.category_name for c in CategoryList"  ng-change="GetSubCategory(tbl_item_category_id)">
                                    <option value="">-- Select Category --</option>
                                 </select>
                            </div>                                        
                        </div>

                         <div class="col-md-4">
                            <div class="col-sm-3" >
                                 <label for="first-name">Sub Category<span class="required star">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                 <select ng-model="tbl_item_subcategory_id" class="form-control" ng-options="c.id as c.subcategory_name for c in subcategorylist"   ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>
                                     <option value="">--Select SubCategory --</option>
                                 </select>
                            </div>
                        </div>

                         <div class="col-md-4">
                             <button type="button" ng-click="SearchRecords1()" class="btn btn-success">Search</button>                                           
                        </div>

                    </div>
                  </div>
         <h5>Search Product </h5>
    <input type="text" ng-model="search" placeholder="Search..." />

            <div class="x_title"></div>
            <div class="x_content">
                <div class="form-group">                   
             <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>
                               S.No
                            </th>
                             <th>
                              Image
                            </th>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                SubCategory
                            </th> 
                            <th>
                                HSN Code
                            </th> 
                            <th>
                                GST%
                            </th>                                              
                            <th>
                                 Brand
                            </th>
                             <th>
                               Effective Bought Price
                            </th>
                            
                             <th>
                               SKU
                            </th>
                            <th>
                                Average Buying Price
                            </th>                            
                            <th>
                              Total Quantity
                            </th>
                            @*<th>
                              Flag
                            </th>*@
                            <th>
                              Virtual Quantity
                            </th>
                            
                              <th>
                                 Action
                            </th>

                            <th>
                                 View Details
                            </th>
                              <th>
                                ADD
                            </th>

                        </tr>
                    </thead>
                    <tbody>                    
                         <tr dir-paginate="item in InventoryList|filter:search|orderBy:'ob_tbl_inventory.item_name'|itemsPerPage:5" ng-class-odd="'odd'" ng-class-even="'even'"  current-page="currentPage">
                          <th scope="row">
                               {{ ($index + 1) + (currentPage - 1) * 5}}                           
                            
                            </th>
                              <td>                            
                                 <img  src="{{item.ob_tbl_inventory.item_photo1_path}}" alt="Logo" width="50" height="50" />                                                         
                            </td>
                            <td>
                                {{item.ob_tbl_inventory.item_name}}                                                      
                            </td> 

                             <td>
                                {{item.ob_tbl_item_category.category_name}}                                                      
                             </td> 

                              <td>
                                {{item.ob_tbl_item_subcategory.subcategory_name}}                                                      
                              </td> 
                            <td>
                                {{item.ob_tbl_item_subcategory.hsn_code}}                                                      
                              </td> 
                             <td>
                                {{item.ob_tbl_item_subcategory.tax_rate}}                                                      
                              </td>                      
                                                      
                             <td>                               
                                {{item.ob_tbl_inventory.brand}}                                                      
                             </td>
                             <td>                               
                                 {{item.ob_tbl_inventory.t_effectiveBought_price}}                                   
                            </td>
                           
                             <td>
                              {{item.ob_tbl_inventory.sku}}                                
                            </td>
                              <td>
                                  <span ng-show="item.showEdit">{{item.ob_tbl_inventory.selling_price}} </span>
                                 <input ng-show="!item.showEdit" type="text" ng-model="item.ob_tbl_inventory.selling_price">                           
                            </td>
                            <td> 
                                 <span ng-show="item.showEdit">{{item.ob_tbl_inventory.item_count}} </span>
                                 <input ng-show="!item.showEdit" type="text"  ng-model="item.ob_tbl_inventory.item_count">                                                        
                            </td>
                           @* <td> 
                                 <span ng-show="item.showEdit" ng-if="item.ob_tbl_inventory.item_count ==0"><img src="~/Images/flag2.jpg" /></span>
                                 <span ng-show="item.showEdit" ng-if="item.ob_tbl_inventory.item_count !=0"><img src="~/Images/flag.jpg" /></span>
                                                                                      
                            </td>*@
                            <td>
                                {{item.ob_tbl_inventory.t_virtualItemCount}}                                                      
                            </td> 
                             
                              <td>
                                   <p ng-show="item.showEdit"><span ng-show="item.showEdit" ng-click="toggleEdit(item)" class="glyphicon glyphicon-edit"></span>
                                    <strong style="color:red;">|| </strong>
                                   <span ng-show="item.showDelete" ng-click="toggleDeleteEdit(item)" class="glyphicon glyphicon-trash"></span>
                               
                                   <p ng-show="!item.showEdit">
                                   <span ng-show="!item.showEdit" ng-click="toggleEdit(item)" class="glyphicon glyphicon-ok"></span> <strong style="color:red;">|| </strong>
                                   <span ng-show="!item.CancelEdit" ng-click="toggleCancelEdit(item)" class="glyphicon glyphicon-remove"></span></p>


                                  
                               </td>  

                              <td>
                                   <a class="btn btn-info btn-sm" href="/Seller/Seller/InventoryDetailList?id={{item.ob_tbl_inventory.id}}" >View</a>
                                    <a class="btn btn-info btn-sm" ng-click="AddTransferItemintoWarehouse(item);"  data-toggle="modal" data-target="#myModal">Transfer Item</a>                                  
                              </td>
                             <td>
                                 @* <a class="btn btn-info btn-sm" ng-click="VirtualQuantity(item);"  data-toggle="modal" data-target="#myModal1">Virtual Quantity</a>   *@                        
                                  <a class="btn btn-info btn-sm" ng-click="AddSales(item);"  data-toggle="modal" data-target="#myModal2">Manage Association</a> <br />  
                                  <a class="btn btn-info btn-sm" ng-click="AddPublish(item);"  data-toggle="modal" data-target="#myModal3">Publish Item</a>                                                                         
                             </td>
                        </tr>

                    </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="12" style="text-align:end;color:red;">
                                         <dir-pagination-controls
                                            max-size="5"
                                            direction-links="true"
                                            boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)">            
                                      </dir-pagination-controls>
                                     </td>
                                </tr>
                            </tbody>

                        </table>
                             
                                </div>

                                <br />
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
          
    </div>





    <div class="modal fade" id="ItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inventory Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ViewInventoryDetailsList">
                ...
              
            </div>            
        </div>
    </div>
</div>




    <div id="myModal" class="modal fade"  role="dialog">
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate name="f1">
            <div class="modal-dialog">

              
                <div class="modal-content" style ="width:800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{Action}} Transfer Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-vertical"> 
                            
                             @Html.Hidden("hdn_Item_id")  
                                     <input type="hidden" name="country" ng-model="hdn_Item_id">                                                                                                         
                                    <div class="row">
                                               <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                   Item Name<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-4"> 
                                             <input type="text" name="ut_ItemName" ng-model="t_ItemName" maxlength="50" class="form-control" ng-readonly="true" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>                                                                                            
                                        </div>
                                       </div>
                                        <div class="row">
                                            <div class="col-sm-2" >
                                                </div>
                                             <div class="col-sm-4">                           
                                                  <input type="button" class="btnAdd btn btn-success" value="Show Available Count" ng-click="ShowHide()" />
                                               </div>
                                            </div>



                                   <div class="row" ng-hide = "IsHidden">
                                               <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                    Available Count
                                                 </label>
                                              </div>
                                         <div class="col-sm-4">
                                            <input type="text" name="uitem_total_count" id="item_total_count" ng-readonly="true" ng-model="item_total_count" maxlength="50" class="form-control"  ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>                                     
                                        </div>                                                                                                           
                                    </div>

                          

                                           <div class="row">
                                               <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                     From Warehouse<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-4">
                                            <select ng-model="from_warehouse_id"  class="form-control" ng-options="c.id as c.warehouse_name for c in WarehouseList" disabled>
                                             @*  <option value="">-- Select Warehouse --</option>*@
                                            </select>                                      
                                           @*  <span class="error" ng-show="(f1.selected_id.$dirty || IsFormSubmitted) && f1.selected_id.$error.required" >Providing  select Warehouse is mandatory!</span>  *@
                                        </div>
                                    </div>    
                                         
                      
                                    <div class="row">
                                               <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                    My Warehouse<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-4">
                                            <select ng-model="to_warehouse_id"  class="form-control" ng-options="c.id as c.warehouse_name for c in WarehouseList">
                                               <option value="">-- Select Warehouse --</option>
                                            </select>                                      
                                             <span class="error" ng-show="(f1.selected_id.$dirty || IsFormSubmitted) && f1.selected_id.$error.required" >Providing  select Warehouse is mandatory!</span>  
                                        </div>

                                         <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                   Market Place<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-4">
                                             <select ng-model="Marketplace_id" name="selected_id" class="form-control" ng-options="c.id as c.name for c in MarketPlaceList">
                                                <option value="">-- Select --</option>
                                            </select>                                    
                                             <span class="error" ng-show="(f1.selected_id.$dirty || IsFormSubmitted) && f1.selected_id.$error.required" >Providing  select Warehouse is mandatory!</span>                                               
                                        </div>

                                           </div>

                                          <div class="row">                                        
                                         <div class="col-sm-2" >
                                         <label for="first-name" style="color: #242627;">Transfer Quantity<span class="required star">*</span></label>
                                      </div>
                                      <div class="col-sm-4">
                                          <input type="text" name="uItem_Transfer_Count" ng-model="Item_Transfer_Count" maxlength="50" class="form-control" ng-change="myFunc(Item_Transfer_Count)"  placeholder=" Please Enter Item Count" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>
                                          <span class="error" ng-show="(f1.uItem_Transfer_Count.$dirty || IsFormSubmitted) && f1.uItem_Transfer_Count.$error.required" >Providing Item Count is mandatory!</span>
                                          
                                      </div>                            
                                    </div>

                                    

                                
                           
                        </div>

                      <div class="modal-footer">
                            <input type="button" ng-disabled="f1.$invalid" class="btnAdd btn btn-success" value="Save" ng-click="AddUpdateItem()" data-dismiss="modal" />
                          @*  <input type="button" ng-disabled="f1.$invalid" class="btnAdd btn btn-success" value="Save" ng-click="AddUpdatePO()" data-dismiss="modal" />*@
                            <button type="button"  class="btn btn-default" style="width:70px; padding:5px 0 5px;border:solid 0px;" data-dismiss="modal">Close</button>
                        </div>


                    </div>
                </div>
            </div>
                </form>
        </div>





    <div id="myModal1" class="modal fade"  role="dialog">
            <form id="demo-form3" data-parsley-validate class="form-horizontal form-label-left" novalidate name="f1">
            <div class="modal-dialog">

              
                <div class="modal-content" style ="width:800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{Action}} Virtual Quantity</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-vertical"> 
                            
                             @Html.Hidden("hdn_Item_id")  
                                     <input type="hidden" name="country" ng-model="hdn_Item_id">                                                                                                         
                                    <div class="row">
                                               <div class="col-sm-2" >
                                                 <label for="first-name" style="color: #242627;">
                                                   Item Name<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-4"> 
                                             <input type="text" name="ut_ItemName" ng-model="t_ItemName" maxlength="50" class="form-control" ng-readonly="true" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>                                                                                 
                                        </div>
                                       </div>
                                      

                                          <div class="row">                                        
                                         <div class="col-sm-2" >
                                         <label for="first-name" style="color: #242627;">Virtual Quantity<span class="required star">*</span></label>
                                      </div>
                                      <div class="col-sm-4">
                                          <input type="text" name="ut_virtualItemCount" ng-model="t_virtualItemCount" maxlength="50" class="form-control"  placeholder=" Please Enter Virtual Item Count" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>
                                          <span class="error" ng-show="(f1.ut_virtualItemCount.$dirty || IsFormSubmitted) && f1.ut_virtualItemCount.$error.required" >Providing IVirtual Quantity is mandatory!</span>                                          
                                      </div>                            
                                    </div>                                                         
                        </div>

                      <div class="modal-footer">
                            <input type="button" ng-disabled="f1.$invalid" class="btnAdd btn btn-success" value="Save" ng-click="AddVirtualQuantity()" data-dismiss="modal" />                        
                            <button type="button"  class="btn btn-default" style="width:70px; padding:5px 0 5px;border:solid 0px;" data-dismiss="modal">Close</button>
                        </div>


                    </div>
                </div>
            </div>
                </form>
        </div>



    <div id="myModal2" class="modal fade"  role="dialog">
            <form id="demo-form4" data-parsley-validate class="form-horizontal form-label-left" novalidate name="f1">
            <div class="modal-dialog">
                <div class="modal-content" style ="width:800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{Action}} Sales SKU</h4>
                    </div>
                    <div class="modal-body">
                        <div class ="form-vertical">

                            
                        </div>


                        <div class="form-vertical"> 
                            
                         @*   @Html.Hidden("hdn_Item_id")  
                                     <input type="hidden" name="country" ng-model="hdn_Item_id"> *@
                      
                           <div class="row" data-ng-repeat="itemd in InventoryItemList">
                                <div class="col-sm-4">
                                   {{itemd.MarketPlaceName}}
                                </div>
                               <div class="col-sm-8">
                                   @*<th ng-click="selectInfo(x.firstname)">    {{x.firstname}}</th>*@
                                  <input type="text" name="umodel_seller_code"  ng-model="itemd.model_seller_code" maxlength="50" class="form-control"  ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>                                                               
                               </div>
                                  

                           </div>
                                                                                                                                   
                                                                                                   
                        </div>

                      <div class="modal-footer">
                            <input type="button" ng-disabled="f1.$invalid" class="btnAdd btn btn-success" value="Save" ng-click="AddUpdateManageSales()" data-dismiss="modal" />                        
                            <button type="button"  class="btn btn-default" style="width:70px; padding:5px 0 5px;border:solid 0px;" data-dismiss="modal">Close</button>
                        </div>


                    </div>
                </div>
            </div>
               </form>
        </div>

   <div id="myModal3" class="modal fade"  role="dialog">
            <form id="demo-form5" data-parsley-validate class="form-horizontal form-label-left" novalidate name="f1">
            <div class="modal-dialog">
                <div class="modal-content" style ="width:800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{Action}} Publish Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class ="form-vertical"> </div>

                        <div class="form-vertical"> 
                            <div class="row">
                                <div class="col-sm-6">
                                   <img style ="height: 85px; width: 105px;" src="{{ImagePAth}}" alt="Logo" />        
                                </div>

                                 <div class="col-sm-6">
                                     <div class="row">
                                        <div class="col-sm-2">
                                           <label for="first-name" style="color: #242627;">Item Name</label>
                                     </div>
                                         <div class="col-sm-4"> 
                                             <input type="text" name="uItemName" ng-model="ItemName" maxlength="50" class="form-control" ng-readonly="true" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>                                                                           
                                        </div>
                                     </div>
                                    
                                     <div class="row">
                                        <div class="col-sm-2">
                                           <label for="first-name" style="color: #242627;">Available Quantity</label>
                                     </div>
                                         <div class="col-sm-4"> 
                                              <input type="text" name="utotal_count" ng-model="total_count" maxlength="50" class="form-control" ng-readonly="true" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus>  
                                        </div>
                                     </div>

                                </div>
                            </div>
                      
                                     

              <table id="example" class="table table-striped table-bordered" width="80%" cellspacing="0" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>
                               S.No
                            </th>
                             <th>
                              Market Place
                            </th>
                            <th>
                                Current Quantity
                            </th>
                            <th>
                                New Quantity
                            </th>
                                                                                                                          
                        </tr>
                    </thead>
                    <tbody>                    
                         <tr  data-ng-repeat="itemd in InventoryItemList" ng-class-even="'even'"  current-page="currentPage">
                          <th scope="row" style ="width:80px;">
                               {{ ($index + 1) + (currentPage - 1) * 5}}                           
                            
                            </th>
                              <td style ="width:130px;">                            
                                  {{itemd.MarketPlaceName}}                                                        
                            </td>
                            <td style ="width:111px;">
                                {{itemd.CurrentItem}}                                                      
                            </td> 

                              <td style ="width:111px;">
                                   <input type="text" name="uNewItem"  ng-model="itemd.NewItem" maxlength="50" class="form-control">                                                                                                                                         
                              </td>
                        </tr>

                    </tbody>                         
                        </table>
                                                                                                                                                          
                              <div class="row">
                                
                                         <div class="col-sm-4 col-lg-offset-5" >
                                                 <label for="first-name" style="color: #242627; margin-left:120px;">
                                                   Total Item<span class="required star">*</span>
                                                 </label>
                                              </div>
                                         <div class="col-sm-2"> 
                                            <span id="totalvalue">{{ getTotal() }}</span> 
                                            @* <input type="text" style="margin-left: 50px"; name="uTotalItem" ng-model="TotalItem" maxlength="50" itemd.CurrentItem class="form-control" ng-class="IsFormSubmitted?'ng-dirty':''" required autofocus> *@                                                                          
                                        </div>
                                       </div>
                                                                                                  
                        </div>

                     <div class="modal-footer">
                            <input type="button" ng-disabled="f1.$invalid" class="btnAdd btn btn-success" value="Save" ng-click="AddPublishItem()" data-dismiss="modal" />                        
                            <button type="button"  class="btn btn-default" style="width:70px; padding:5px 0 5px;border:solid 0px;" data-dismiss="modal">Close</button>
                        </div>


                    </div>
                </div>
            </div>
               </form>
        </div>

</div>




@section scripts{
    <script src="~/Areas/Seller/SellerScripts/Angular/Controller/MyInventoryListController.js"></script>
}





