@{
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <title>Cron Job</title>
    
</head>

<body>

    <h1>Data Save Successfully </h1>

</body>
</html>
